= stylesheet_link_tag("tags")
.topborder
.container
  .central
    = image_tag("gift.gif", :class => "gift")
    %h3.recipient
      = @tag.name + "'s Gift"
    %h5.wish
      %span.quoter{:style => (@tag.wish.nil? ? "display:none" : "")} &ldquo;
      = @tag.wish
    #qrcode

    - if !current_volunteer
      .btn.btn-primary.notify{:style => "margin-top:30px"} Request a Driver
      %p#loctext
      %input#donor_phone{placeholder: "Phone"}
    - else 
      Here is some info about the gift and a button to check it as delivered
  
  .load
    %h2.loadtext Searching for drivers...
    .loader
      .sphere.s-gold
      .sphere.s-5
      .sphere.s-4
      .sphere.s-3
      .sphere.s-2
      .sphere.s-1
    .loader-faster
      .sphere.s-gold
      .sphere.s-5
      .sphere.s-4
      .sphere.s-3
      .sphere.s-2
      .sphere.s-1

= javascript_tag do
  id = "#{j @tag.id.to_s}";
= javascript_include_tag("donor")
= javascript_include_tag("qrcode.min")
= javascript_include_tag("qr")