= stylesheet_link_tag("tags")
.topborder
.container
  .central
    = image_tag("gift.gif", :class => "gift")
    %h3.recipient
      = @tag.name + "'s Gift"
    %h5.wish
      %span.quoter{:style => (@tag.wish.nil? ? "display:none" : "")} &ldquo;
      = @tag.wish
    #qrcode

- if !current_volunteer
  %button.notify Request a Driver

  %p#loctext
  %input#donor_phone{placeholder: "Phone"}
- else 
  %div
    Here is some info about the gift and a button to check it as delivered

= javascript_tag do
  code = "#{j @tag.code.to_s}";
= javascript_include_tag("donor")
= javascript_include_tag("qrcode.min")
= javascript_include_tag("qr")