.container
  .header
    %ul.nav.nav-pills.pull-right
      %li
        %a{:href => "/"} Donor
      %li.active
        %a{:href => "/drivers"} Driver
      %li
        %a{:href => "/tags"} Volunteer
      %li
        = link_to('Logout', destroy_driver_session_path, :method => :delete)
    %h3.text-muted Santa

    %a{:onclick => "parent.location='comgooglemaps://?daddr=37.759748,-100.427135'"} Link
    .centrax
      - if @tags.empty?
        %h2 No Delivery Requests
      - else
        %h2 We've found a job!
        %p Donor number: #{@tags[0].phone}
        .btn.btn-primary{onclick: "accept()"} Accept? 
        %br
        %br
        %br
      = image_tag("box.svg", :style => "width:150px")
        
    - if !@tags.empty?
      = javascript_tag do
        id = "#{j @tags[0].id.to_s}";
    = javascript_include_tag "tag"
